*{
    padding: 0;
    margin: 0;
}

#header{
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
    cursor: pointer;
}

.header-text{
    max-width:350px;
    margin-top: 40px;
}
.header-text h1 {
    font-size: 34px;
}
.header-text p{
    color:#777;
    font-size: 15px;
    line-height: 18px;
}
.square{
    height: 15px;
    width: 15px;
    display:inline-block;
    background:#f67c92;
    margin: 15px 0;
}
.btn-hero {
    /* display:inline-block; */
    margin: 30px 0;
    padding: 10px 35px;
    background:transparent;
    color:#333;
    border:2px solid #f67c92;
    font-weight: 600;
    font-size: 16px;
    transition:.5s;

}
.btn-hero:hover{
    transform: scale(1.1);
    background:#f67c92;
}
.line{
    line-height: 18px;
}
 .line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display:inline-block;
}
.line-2{
    width: 100px;
    height: 2px;
    background: #f67c92;
    display:inline-block;
}
.line-3{
    width: 80px;
    height: 2px;
    background: #f67c92;
    display:inline-block;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position:fixed;
    right: -250px;
    top: 0;
    background:#f67c92;
    z-index: 2;
    transition: 1s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

#about{
    padding: 100px 0;
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}
.about-left{
    flex-basis: 50%;
}
.about-right{
    flex-basis: 50%;
    text-align: right;
}
#about img{
    width: 100%;
    display: block;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display:inline-block;
}
.about-text h1{
    font-weight: 600;
    font-size: 30px;
}
.about-text p{
    color:#777;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
}
.about-text h2{
    font-size: 20px;
    margin-top: 30px ;
    margin-bottom: 5px;
    font-style: italic;
}
.about-text h3{
    color:#777;
}
#features{
    padding-top:50px;
    padding-bottom: 50px;
}
.features-row{
    width: 90%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.features-col{
    flex-basis: 20%;
    text-align: center;
}
.features-col img{
    width: 100%;
}
.features-col h4{
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
}
.features-btn{
    margin: 80px auto 0;
    text-align: center;
}

#courses{
    padding:100px 0px;
}
.courses-row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.courses-left{
    flex-basis: 50%;
    

}
.courses-right{
    flex-basis: 50%;
}
.courses-right img{
    width: 100%;
}
.courses-text {
    max-width: 350px;
}
.courses-text h1{
    font-size: 30px;
    font-weight: 600;
}
.courses-text p{
    color:#777;
}

#contact{
    padding: 100px 0;
    
}
.contact-row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.contact-left{
    flex-basis: 50%;

}
.contact-left h1{
    font-weight: 600;
    font-size: 30px;
}
.contact-right{
    flex-basis: 50%;
}
.contact-right img{
    width: 100%;
}

form {
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding:12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border:2px solid #f67c92;
}
.btn-box{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.btn-box button{
    flex-basis:47%;
    padding: 18px 0;
    margin-top: 10px !important;
    margin-bottom: 10px!important;
}

#footer{
    padding:50px 0 30px;

}
hr{
    width: 100%;
    border:0;
    border-top:2px solid #f67c92;
}
.footer-row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.footer-left{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right{
    flex-basis: 35%;
   
    margin-top: 50px;
}
.footer-link{
    display:flex;
    flex-wrap: wrap;
   
    justify-content: space-between;
}
.link-title h4{
    color:#fab3c4;
    margin-bottom: 20px;
}
.link-title small{
    font-size:13px;
    color:#777;
}
.footer-info{
    display:flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 40px;
}
.footer-logo img{
    width: 100%;

}
.copyright-text h4{
    color:#fab3c4;
   margin-bottom: 20px;
}
.copyright-text small{
    color:#777;
   font-size: 13px;
}

.social-icon{
    width: 50px;
    position:fixed;
    top:50%;
    left:0;
    transform:translateY(-50%);
    z-index: 1;
    
}
.social-icon img{
    
    width: 20px;
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;

}

/* Media */
@media only screen and (max-width:767px)
{
    #header{
        background-image: none;
    }
            
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .logo{
        margin-top: 20px;
        width: 80px;
        cursor: pointer;
    }

    .header-text{
       
        margin-top: 20px;
    }
    .header-text h1 {
        font-size: 26px;
    }
    .header-text p{
        color:#777;
        font-size: 15px;
        line-height: 18px;
    }
    .square{
        height: 15px;
        width: 15px;
        display:inline-block;
        background:#f67c92;
        margin: 15px 0;
    }
    .btn-hero {
        /* display:inline-block; */
       
        padding: 10px 20px;
        

    }
    #menuBtn{
        width: 40px;
        right:50px;
    }
    .social-icon img{
        width: 14px;
        margin:15px auto;
    }
    #about{
        padding:20px 0;
    }
    .about-left, .about-right{
        flex-basis:100%;
    }
    .about-text{
        margin:50px 50px 0;
        display:inline-block;
    }
    .about-text h2{
        font-size: 18px;

    }
    .features-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .features-col img{
        width: 200px;
    }
    .features-btn{
        margin: 15px auto 0;
        text-align: center;
    }
    .courses-left, .contact-right{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .courses-right img{
        width:300px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .footer-left, .footer-right{
        flex-basis: 100%;
    }
   

}